* {
    box-sizing: border-box;
    margin: 0;
}

/* header with logo */
header {
    height: 170px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-position: top;
}

.logo {
    width: 230px;
    position: relative;
    top: 100px;
    left: 10px;
}

/* title and main photo */
#title {
    position: relative;
    top: 10px;
    left: 10px;
}

h1 {
    font-size: 40px;;
}

#title h3 {
    font-size: 18px;
}

.credits {
    color: grey;
    font-weight: 400;
}

.credits a {
    text-decoration: none;
    color: #4ea0ff;
}

#date {
    font-size: 14px;
}

#main_photo {
    margin-top: 10px;
}

.credits_photo {
    font-size: 12px;
    display: block;
}

/* article */
#article {
    margin-left: 10px;
}

p {
    margin-top: 20px;
}

.highlight {
    background-color: yellow;
}

ul {
    margin-top: 20px;
    margin-left: -20px;
}

#tabella {
    margin-top: 20px;
    border: 0px;
    border-spacing: 0px;
}

thead {
    color: white;
    background-color: #4ea0ff;
}

th {
    text-align: left;
}

 td:last-child {
    width: 50%;
 }

 .tr-lightblue {
    background-color: #00ffff;
 }